@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

body{
    background-color: #2D2A32;
    margin-top: 7em;
}

.display{
    margin: auto;
    display: grid;
    justify-content: center;
}

p{
    font-size: 40px;
    margin: 10px;
    color: white;
}

.anunciar{
    color: white;
}
.container {
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 305px;
    max-height: 305px;
}

.block {
    border: 2px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: #D6DBD2;
}

.block:hover{
    background-color: #bec2ba;
}


.reiniciarbtn{
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 310px;
    margin-top: 10px;
    min-height: 35px;
    cursor: pointer;
    background-color: #aa435b;
    color: white;
    border: 2px solid black;
    transition: 0.5s;
    font-size: 15px;
}

.reiniciarbtn:hover{
    background-color: #853548;
    transition: 0.5s;
}

.jogadorX {
    text-align: center;
    color: #a3e3a4;
}

.jogadorO {
    text-align: center;
    color: #fb5b7b;
}
